/* Nav */
nav{
	background: #f1df11;
	padding: 5rem 0;
	left: 0;
	top: 0;
	/* z-index: 9999; */
	position: fixed; /*Cố định vị trí lại*/
	height: 100%;
	width: 20%;
	text-align: center;
	justify-content: center;
    display: flex;
	flex-direction: column;
}
/* content */
.wrapper{
	width: 80%;
	float: right;
	height: 100%;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
li,ol,a {
    list-style: none;
    text-decoration: none;
}
/* header */

nav{
	background: cadetblue;
	padding: 5rem 0;
	left: 0;
	top: 0;
	z-index: 9999;
	position: fixed;
	height: 100%;
	width: 20%;
	text-align: center;
	justify-content: center;
    display: flex;
	flex-direction: column;
}
nav .logo img{
	margin: auto auto 0;
    padding: 1rem;
	width: 70%;
	border-radius: 50%;
}
.header-content ul{
	width: 100%;
	flex-direction: column;
}

.header-content ul li a{
	color: #43433e;
	display: block;
	padding: .5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
    letter-spacing: 0.05rem;
}
.header-content ul li a:hover{
	color: #f5f5f5;
}
/* wrapper */
.wrapper{
	width: 80%;
	float: right;
	height: 100%;
}
.wrapper #about-me{
	padding: 3rem;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.wrapper #about-me .about-content h1{
	font-size: 4rem;
	line-height: 5.5rem;
	font-weight: 700;
    text-transform: uppercase;
	color: #343a40;
	margin-bottom: 1rem;
}
.detail{
    margin-right: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #343a40;
    margin-bottom: 1rem;
}
.address, .phoneNumber,.email{
    display: inline-flex;
}
.text-primary{
	color: #f1df11;
}
.text-primary:hover{
	color: #fe0000;
}
.wrapper #about-me .about-content .about-content-p{
    font-size: 1.15rem;
	font-weight: 400;
	color: #34495e;
}
.wrapper #about-me .about-content .sub-about .about-content-p{
    font-size: 1.1rem;
	font-weight: 400;
	margin-bottom: 3rem;
}
.wrapper #about-me .about-content {
	/* text-transform: uppercase; */
    font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 3rem;
	color: #343a40;
}
.about-content-p-from{
	text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    color: #343a40;
    margin-top: -26px;
    margin-left: 221px;
}
.wrapper #about-me .about-content .about-content-p-from a{
	color: #f1df11;
	text-decoration: none;
}
.wrapper #about-me .about-content .about-content-p-from a:hover{
	text-decoration: underline;
	color: #fe0000;
}
.about-exp .about-content-p:first-child{
	margin-bottom: 1rem;
}
.about-exp .about-content-p{
	margin-bottom: 3rem;
}
.about-exp .about-content-p a{
	color: #f1df11;
	text-decoration: none;
}
.about-exp .about-content-p a:hover{
	text-decoration: underline;
	color: #fe0000;
}
#about-me .social-contact {
	margin-bottom: 4rem;
}
#about-me .social-contact a{
	text-decoration: none;
	font-size: 4rem;
	margin-left: 0.5rem;
}
#skills-me, #project-interest, #education, #objective{
	padding: 3rem;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

#skills-me h2{
	font-weight: 700;
    text-transform: uppercase;
	color: #000000;
	margin-bottom: 3rem;
	font-size: 3rem;
}
#objective h2{
	font-weight: 700;
    text-transform: uppercase;
	color: 	#000000;
	margin-bottom: 3rem;
	font-size: 3rem;
}
#education h2{
	font-weight: 700;
    text-transform: uppercase;
	color: #000000;
	margin-bottom: 3rem;
	font-size: 3rem;
}
#skills-me .sub-icon {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #03A9F4;
}
.objective, .content-language{
    margin-right: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #343a40;
    margin-bottom: 1rem;
}
.language {
    margin: 26px 0px;
}
#skills-me .skill-icon{
	margin-bottom:2rem;
}
#skills-me .skill-icon ul .icon-content-skill{
	display: flex;
}
#skills-me .skill-icon ul .icon-content-skill li{
	margin-right: 3.5rem;
	font-size: 3rem;
}
#skills-me .skill-icon ul .icon-content-skill li i:hover{
	color: #f8c80a;
}
#skills-me .content-skills h3{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #03A9F4;
}
#skills-me .content-skills ul p{
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #343a40;
	font-weight: 500;
}
#skills-me .content-skills ul li{
	font-size: 1.1rem;
	line-height: 2;
	color: #343a40;
	font-weight: 500;
}
#project-interest h2{
	font-weight: 700;
    text-transform: uppercase;
	color: #000000;
	margin-bottom: 3rem;
	font-size: 3rem;
}
#project-interest .interest h3, .project h3 ,.education h3,.language h3{
	color: #03A9F4;
	font-size: 1.5rem;
	margin-bottom: 0.8rem;
}
.education ,#h1{
    font-size: 1.5rem;
    color: #343a40;
}
.education ul{
    margin: 32px 46px;

}



#project-interest .project .content-project ul{
	margin-left: 1.5em;
	margin-bottom: 3rem;
}
#project-interest .project .content-project ul li p {
	position: relative;
    /* line-height: 1.8;
    color: #343a40; */
    display: inline-flex;
    margin: 0px 0px;
	margin-top: -2px;
	font-size: 1.1rem;
    line-height: 2;
    color: #343a40;
    font-weight: 500;
}
#project-interest .project .content-project ul li a{
	text-decoration: none;
	color: #3d5a98;
	font-style: italic;
	/* list-style: unset; */
  }
.list-content{
	font-size: 1.2rem;
	color: #343a40;
}
  #project-interest .project .content-project ul li a:hover{
	text-decoration: none;
	color: #fe0000;
  }
/* #project-interest .project .content-project ul li i{
	color: #f1df11;
	left: -2em;
    width: 2em;
    position: absolute;
    text-align: center;
    line-height: inherit;
} */
#display{
	font-size: 1.3rem;
	font-weight: 700;
}


#project-interest .interest .content-interest .language p{
	line-height: 1.5;
	color: #343a40;
}
#project-interest .interest .content-interest .img-interest{
	display: flex;
}
#project-interest .interest .content-interest .img-interest .picture-interest {
	width: 100%;
	overflow: hidden;
}
#project-interest .interest .content-interest .img-interest .picture-interest img{
	width: 98%;
	margin-top:1rem;
	transition: all .3s linear;
}
#project-interest .interest .content-interest .img-interest .picture-interest img:hover{
	transform: scale(1.2);
}
/* footer */
.copyright{
	background: #fff;
}
.copyright .copyright-p{
    margin: 0.75rem auto;
    font-family: Proxima Nova;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
	color: #282364;
}
.header-content ul li .active {
	color: #fff;
  }
.clear { clear: both }
.content-hobbies{
    margin-right: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #343a40;
    margin-bottom: 1rem;
}